<p>
  tax-table works!
</p>

<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Super Annuation %</label>
        <input type="number" class="form-control" name="superAnnuation" #superPercentage/>
      </div>
      <div class="form-group">
        <label class="col-md-4">Income Gross + Superannuation</label>
        <input type="number" class="form-control" name="grossWithSuper" #grossWithSuper/>
      </div>

      <div class="form-group">
        <label class="col-md-4">Income Gross</label>
        <input type="number" class="form-control" name="income" #gross/>
      </div>

      <div class="form-group">
        <label class="col-md-4">Financial year</label>
        <input type="number" class="form-control" name="finyear" #finyear/>
      </div>

      <div class="form-group">
        <button
          (click)="calculateTax(superPercentage.value, grossWithSuper.value, gross.value, finyear.value)"
          type="submit"
          class="btn btn-primary"
        >Add
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="calculatedData">
    Data: {{calculatedData.net}}
  </div>


</div>
