<div class="panel panel-primary">

  <mat-toolbar>
    <span>Tax calculation</span>
  </mat-toolbar>
  <div style="justify-content: center" fxLayout="row">
    <form class="form-group">
      <p>
        Enter Gross Income or Income with super
      </p>
      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Super Annuation %</mat-label>
          <div [formGroup]="myform">
            <input matInput placeholder="Enter Super Annuation %" class="form-control" type="number"
                   formControlName="superPercentage">
            <div class="form-control-feedback"
                 *ngIf="superPercentage.hasError('required') && (superPercentage.dirty || superPercentage.touched)">
              Superannuation is required
            </div>
          </div>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="standard">
          <mat-label>Gross Income</mat-label>
          <div [formGroup]="myform">
            <input matInput type="number" placeholder="Enter Gross Income" class="form-control" formControlName="gross"/>
            <div class="form-control-feedback" *ngIf="gross.hasError('required') && (gross.dirty || gross.touched)">
              Gross Income is required
            </div>
          </div>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Income + Superannuation</mat-label>
          <input matInput type="number" placeholder="Income Gross + Superannuation" #grossWithSuper/>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Financial year</mat-label>
          <div [formGroup]="myform">
            <input matInput type="number" placeholder="Enter Financial year" class="form-control"
                   formControlName="finyear"/>
          </div>
        </mat-form-field>
      </p>
      <button mat-raised-button [disabled]="!myform.valid"
              (click)="calculateTax(superPercentage.value, grossWithSuper.value, gross.value, finyear.value)"
              type="submit"
      >Calculate
      </button>
      <div *ngIf="calculatedData">
        <p>
          Here is your calculates tax data:
        </p>

        <mat-list>
          <mat-list-item>
            <h4 matLine>Superannuation: ${{calculatedData.superannuation}}</h4>
          </mat-list-item>
          <mat-list-item *ngIf="calculatedData.gross">
            <h4 matLine>Gross: ${{calculatedData.gross}}</h4>
          </mat-list-item>
          <mat-list-item *ngIf="calculatedData.grossWithSuper">
            <h4 matLine>Gross with Super: ${{calculatedData.grossWithSuper}}</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 matLine>Tax: ${{calculatedData.tax}}</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 matLine>Net Income (after tax): ${{calculatedData.net}}</h4>
          </mat-list-item>
          <mat-list-item>
            <h4 matLine>Net income with Super: ${{calculatedData.netWithSuper}}</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </form>
  </div>
</div>
